@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: 9 35 39;
        --color-secondary: 11 83 81;
        --color-terceary: 0 169 165;
        --color-quarteary: 78 128 152;
        --color-error: 191 182 187;
    }
}


body {
  color: rgb(var(--color-quarteary));
  background: rgb(var(--color-primary));
}
